<nav class='px-3 flex-wrap h-[15vh]'>
	<div class='container mx-auto flex items-center flex-wrap'>

		<a href='#' class='mr-4 inline-flex items-center'>
			<img src='../../tuBootcamp.png' alt='' width='250' />
		</a>
		<button
			class='text-white inline-flex p-3 hover:bg-gray-800 rounded lg:hidden ml-auto hover:text-white outline-none nav-toggler'
			data-target='#navigation'
		>
			<i class='material-icons'>menu</i>
		</button>
		<div
			class='hidden top-navbar w-full lg:inline-flex lg:flex-grow lg:w-auto'
			id='navigation'
		>
			<div
				class='lg:inline-flex lg:flex-row lg:ml-auto lg:w-auto w-full lg:items-center items-start flex flex-col lg:h-auto text-gray-700 font-medium'
			>
				<a
					href='/'
					class='lg:inline-flex lg:w-auto w-full px-3 py-2 rounded text-gray-700 items-center justify-center hover:bg-gray-800 hover:text-white'
				>
					<span>Inicio</span>
				</a>
				<a
					href='/bootcamp'
					class='lg:inline-flex lg:w-auto w-full px-3 py-2 rounded text-gray-700 items-center justify-center hover:bg-gray-800 hover:text-white'
				>
					<span>Bootcamps</span>
				</a>
				<a
					href='/user'
					class='lg:inline-flex lg:w-auto w-full px-3 py-2 rounded text-gray-700 items-center justify-center hover:bg-gray-800 hover:text-white'
				>
					<span>Estudiantes</span>
				</a>
				<a
					href='#'
					class='lg:inline-flex lg:w-auto w-full px-3 py-2 rounded text-gray-700 items-center justify-center hover:bg-gray-800 hover:text-white'
				>
					<span>Contacto</span>
				</a>
			</div>
		</div>
	</div>
</nav>

<script
	src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js'
	integrity='sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ='
	crossorigin='anonymous'
></script>
<script>
	$(document).ready(function() { $(".nav-toggler").each(function(_, navToggler)
	{ var target = $(navToggler).data("target"); $(navToggler).on("click",
	function() { $(target).animate({ height: "toggle" }); }); }); });

</script>